body {
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:white;
    font-family: 'Courier New', Courier, monospace, Helvetica;
}

.game {
    font-size: 24px;
}
